# Dependencies
node_modules/

# Playwright artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Allure artifacts
allure-results/
allure-report/
allure-history/

# Authentication and environment files
playwright/.auth/
.env